@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.styled-scrollbar::-webkit-scrollbar{
    background-color: #dbeafe;
    width: 4px;
    height: 4px;
}
.styled-scrollbar::-webkit-scrollbar-thumb{
    background-color: #312e81;
}
.styled-scrollbar::-webkit-scrollbar-button{
    display: none;
}
